.banner {
    color: white;
    object-fit: contain;
    height: 500px;
    margin-bottom: 20px;
}

.banner__contents {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 120px;
    height: 230px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    font-size: 1rem;
    padding-top: 1rem;
    max-width: 400px;
    height: 80px;
}

.banner__rating {
    color: yellow;
    font-size: 1.4rem;
}

.banner__release {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    background-color: rgba(52, 52, 52, 0.5);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.banner__button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}

.banner--fadeBottom {
    height: 8.2rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(0, 0, 0, 0.8),
        #111
    );
}
